.main {
  width: 1100px;
  margin: 0 auto;
  /* overflow: hidden; */
}

.main h4 {
  font-size: 20px;
  margin: 40px 10px 5px;
}

.main .youtube {
  display: inline-block;
  padding: 10px;
}

.main .youtube a img {
  width: 500px;
  height: 300px;
}
